{% extends "app/base.html" %}
{% load static %}
{% block title %} Search Results {% endblock title %}

{% block main-content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-sm-8">
        {% if product %}
          <div class="row">
            {% for prod in product %}
              <div class="col-sm-4 text-center mb-4 hover-shadow">
                <a href="{% url 'product-detail' prod.id %}">
                  <div>
                    <img src="{{ prod.product_image.url }}" class="img-fluid" alt="{{ prod.title }}" />
                    <div class="fw-bold">{{ prod.title }}</div>
                    <div class="fw-bold text-danger">
                      Rs. {{ prod.discounted_price }}
                      <small class="fw-light text-decoration-line-through">
                        {{ prod.selling_price }}
                      </small>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="text-center">
            <p class="text-muted">No products found for your search.</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock main-content %}
